<!DOCTYPE html>
<html>
  <head>
    <title>UxExperiments</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= yield :head %>
  </head>

  <body class="<%= controller_name %>-<%= action_name %>">
    <%= yield %>
  </body>
</html>
